%p
  Dear professor,

%p
  We have received your assessment for the following class: 

= render :partial => 'shared/notification_course_info', :locals => { course: @assessment.course, test: @test  }

- unless @custom_text.blank?
  = sanitize @custom_text.html_safe

%p
  You can review your feedback
  = succeed "." do
    - if @test
      %a{ href: '#' } here (linked to assessment)
    - else
      %a{:href => assessment_url(@assessment)} here
